body {
  background-image: url('https://i.imgur.com/a3xX21b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.login_pane {
  background: rgba(40, 40, 40, 0.7);
  width: 40%;
  height: 360px;
  margin: auto auto;
  margin-top: 15%;
  border-radius: 4px;
}

#login-header {
  color: rgb(240,240,240);
  text-align: center;
}

#login-content-wrapper {
  margin: 15px;
}

p.login_error_text {
  color: antiquewhite;
  margin-top: 15px;
}
