body {
  background-image: url('https://i.imgur.com/a3xX21b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

#register-pane {
  background: rgba(40, 40, 40, 0.7);
  width: 40%;
  height: 250px;
  margin: auto auto;
  margin-top: 15%;
  border-radius: 4px;
}

h1 {
  color: rgb(240,240,240);
  text-align: center;
}

#register-content-wrapper {
  margin: 10px;
}